* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Microsoft JhengHei;
  width: 100vw;
}

body.fixed {
  position: fixed;
}

.wrap {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.flex_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -40px;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  padding-left: 0;
  list-style: none;
}

li,
a {
  line-height: 1.5;
}

.section_box {
  width: 33.3%;
  margin-bottom: 15px;
  padding: 30px 20px 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section_box h3 {
  margin-bottom: 16px;
  color: #00a6f3;
}

.section_box li + li {
  border-top: 1px dashed #ccc;
}

.section_box li:last-child .in_ul {
  border-bottom: none;
}

.section_box li code {
  font-size: 12px;
  line-height: 1.25;
}

.section_box li > p {
  display: inline-block;
  padding: 14px 0 14px 30px;
  font-weight: 700;
  position: relative;
}

.section_box li > p::before {
  content: "";
  width: 10px;
  height: 2px;
  background-color: #ddd;
  display: inline-block;
  top: 26px;
  left: 10px;
  position: absolute;
}

.section_box li .alert_box p::before {
  width: 6px;
  height: 6px;
  left: 12px;
  top: 21px;
  border: 2px solid #ccc;
  background-color: transparent;
}

.section_box li a {
  display: block;
  padding: 14px 0 14px 30px;
  position: relative;
  -webkit-transition: color 0.2s, background 0.2s;
  transition: color 0.2s, background 0.2s;
}

.section_box li a:hover {
  color: #009be2;
  background-color: #f8f8f8;
}

.section_box li a::before {
  content: "";
  display: inline-block;
  border: solid #ccc;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
  position: absolute;
  left: 12px;
  top: 26px;
}

.section_box .in_ul {
  border-bottom: 1px solid #ccc;
  margin-bottom: -1px;
}

.section_box .in_ul a {
  padding-left: 46px;
}

.section_box .in_ul a::before {
  left: 32px;
  border: none;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #ccc;
}

.section_box .in_ul .alert_box {
  padding-left: 16px;
}

body {
  position: relative;
}

.alert_box {
  cursor: pointer;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.alert_box:hover {
  background-color: #f8f8f8;
}

.alert_box .alert_content_box {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: 1;
}

.alert_box .alert_content_box.hide {
  display: none;
}

.alert_box .alert_content_box.show {
  display: block;
}

.alert_box .alert_content_box .alert_content {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  z-index: 2;
  background-color: #fff;
  padding: 30px 60px;
  border-radius: 4px;
  max-height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.alert_box .alert_content_box .alert_content .close {
  cursor: pointer;
  color: black;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
}

ol {
  padding-left: 20px;
  margin-bottom: 16px;
}

ol li {
  padding: 6px 0;
}
